@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 179 100% 9%;
    --card: 0 0% 100%;
    --card-foreground: 179 100% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 179 100% 9%;
    --primary: 179 80% 53%;
    --primary-foreground: 148 40% 80%;
    --secondary: 148 40% 96.1%;
    --secondary-foreground: 179 47.4% 11.2%;
    --muted: 148 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 148 40% 96.1%;
    --accent-foreground: 179 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 148 40% 80%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 179 80% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 179 100% 9%;
    --foreground: 148 40% 80%;
    --card: 179 100% 9%;
    --card-foreground: 148 40% 80%;
    --popover: 179 100% 9%;
    --popover-foreground: 148 40% 80%;
    --primary: 179 80% 53%;
    --primary-foreground: 148 40% 80%;
    --secondary: 176 76% 18%;
    --secondary-foreground: 148 40% 80%;
    --muted: 176 76% 18%;
    --muted-foreground: 148 20.2% 65.1%;
    --accent: 176 76% 18%;
    --accent-foreground: 148 40% 80%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 148 40% 80%;
    --border: 176 76% 18%;
    --input: 176 76% 18%;
    --ring: 179 80% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
